@media (min-width: 300px) and (max-width: 550.99px) {
    .nav_manu ul {
        position: absolute;
        left: 0px;
        top: 50px;
        width: 50%;
        text-align: start;
        background: #ececec !important;
        padding: 20px 30px !important;
        border-radius: 20px;
    }
    .nav_manu ul li{
        padding: 5px 0px !important;
    }
    .nav_menu_ul {
        display: none !important; /* Initially hide the menu */
    }
    
    .nav_menu_ul.show {
        display: inline !important; /* Show the menu when the 'show' class is added */
    }
    #navButton {
        display: inline;
        font-size: 30px;
        /* margin-top: 82px !important; */
        position: relative;
        top: 28px;
        cursor: pointer;
    }
    .right_effect_img {
        position: relative;
        display: none;
    }
    #navbar_area {
        background-color: #F6F6F6;
        position: fixed;
        width: 100%;
        left: 0px;
        top: 0px;
    }
    .fix_getstarted{
        position: fixed;
        width: 100%;
        bottom: 0px;
    }
    .fix_getstarted {
        position: fixed;
        width: 100%;
        bottom: 0px;
        left: 0px;
        /* margin: 5px 10px; */
        padding: 10px 16px;
        background-color: #ffffff;
    }
    .getstarted {
        margin-top: 0px;
    }
    .download_link{
        color: #00686A;
        padding: 4px 12px;
        border: 1px solid #00686A;
        background-color: #ffffff;
    }
    .content_text h3.myh3 {
        font-size: 20px;
        line-height: 30px;
        margin-top: 32px;
    }
    .item_card {
        padding: 12px;
    }
    body{
        padding-bottom: 80px;
    }
    .baner_slider{
        display: block !important;
        margin-top: 100px;
    }
    #navbar_area{
        padding: 0px 0px;
    }
    .mobile-frame{
        display: none;
    }
.button_overlay{
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    padding: 10px 20px;
}
.getstartedd {
	font-size: 14px;
	padding: 12px;
}
.tour_list_start h3 {
	font-size: 20px;
	margin-top: 0px;
    margin-bottom: 0px;
}
.tour_list_start p {
	font-size: 14px;
	margin-bottom: 32px;
}
.tour_select {
	margin-bottom: 20px;
}
.progress_bar_step{
    display: block;
}

 }





@media (min-width: 551px) and (max-width: 991.99px) {
    .progress_bar_step{
        display: block;
    }
.nav_manu ul {
    position: absolute;
    left: 0px;
    top: 50px;
    width: 50%;
    text-align: start;
    background: #ececec !important;
    padding: 20px 30px !important;
    border-radius: 20px;
}
.mobile-frame{
    display: none;
}
.nav_manu ul li{
    padding: 5px 0px !important;
}
.nav_menu_ul {
    display: none !important; /* Initially hide the menu */
}

.nav_menu_ul.show {
    display: inline !important; /* Show the menu when the 'show' class is added */
}
#navButton {
	display: inline;
	font-size: 30px;
	/* margin-top: 82px !important; */
	position: relative;
	top: 28px;
    cursor: pointer;
}
.right_effect_img {
	position: relative;
	display: none;
}
#navbar_area {
	background-color: #F6F6F6;
	position: fixed;
	width: 100%;
	left: 0px;
	top: 0px;
}
.fix_getstarted{
    position: fixed;
    width: 100%;
    bottom: 0px;
}
.fix_getstarted {
	position: fixed;
	width: 100%;
	bottom: 0px;
	left: 0px;
	/* margin: 5px 10px; */
	padding: 10px 16px;
    background-color: #ffffff;
}
.getstarted {
	margin-top: 0px;
}
.baner_slider{
    display: block !important;
    margin-top: 100px;
}
#navbar_area{
    padding: 0px 10px;
}
.button_overlay{
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    padding: 10px 20px;
}
.getstartedd {
	font-size: 14px;
	padding: 12px;
}
body{
    padding-bottom: 80px;
}


 }
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .right_effect_img {
        height: auto;
        width: 260px !important;
    }
    .right_effect_img img.main_img  {
        height: auto;
        width: 100% !important;
    }
    img.effect_one{
        position: absolute;
        width: 150px !important;
        top: -15px;
        right: -100px;
    }
    img.effect_two {
        position: absolute;
        width: 150px !important;
        top: 100px;
        left: -100px;
    }
    img.effect_three {
        position: absolute;
        width: 150px !important;
        top: 250px;
        right: -110px;
    }
    img.effect_four{
        position: absolute;
        width: 150px !important;
        bottom: 118px;
        left: -110px;
    }
    img.effect_five{
        position: absolute;
        width: 150px !important;
        bottom: -45px;
        right: -110px;
    }

 }